<html>
  <head>
<title>CharacterScreen</title>

<script>

var CharacterArray;
var PlayerName
var username;

	function setSkillProfiencyOptions(SkillProf){
		var select = document.getElementById(SkillProf);
		var option = document.createElement('option');
		option.value = "-";
		option.innerHTML = "-";
		select.appendChild(option);
		option = document.createElement('option');
		option.value = "+";
		option.innerHTML = "+";
		select.appendChild(option);
		option = document.createElement('option');
		option.value = "++";
		option.innerHTML = "++";
		select.appendChild(option);
	}
	
	function callSetProficencyOptions(){
		setSkillProfiencyOptions("AcrobaticsProf");
		setSkillProfiencyOptions("InsightProf");
		setSkillProfiencyOptions("PerformanceProf");
		setSkillProfiencyOptions("AnimalHandlingProf");
		setSkillProfiencyOptions("IntimidationProf");
		setSkillProfiencyOptions("PersuasionProf");
		setSkillProfiencyOptions("ArcanaProf");
		setSkillProfiencyOptions("InvestigationProf");
		setSkillProfiencyOptions("ReligionProf");
		setSkillProfiencyOptions("AthleticsProf");
		setSkillProfiencyOptions("MedicineProf");
		setSkillProfiencyOptions("SleightOfHandProf");
		setSkillProfiencyOptions("DeceptionProf");
		setSkillProfiencyOptions("NatureProf");
		setSkillProfiencyOptions("StealthProf");
		setSkillProfiencyOptions("HistoryProf");
		setSkillProfiencyOptions("PerceptionProf");
		setSkillProfiencyOptions("SurvivalProf");
		
		setSkillProfiencyOptions("CustomSkill1Prof");
		setSkillProfiencyOptions("CustomSkill2Prof");
		setSkillProfiencyOptions("CustomSkill3Prof");
	}
	

function ModCharacter(){
	var radioElements = document.getElementsByName("CharSelect");
    for(var i=0; i < radioElements.length; i++)
    {
        if(radioElements[i].checked) 
        {
			var Character = CharacterArray[i];
			break;
        }
    }
	
	document.getElementById("NewCharacterSheet").style.visibility = "visible";
	document.getElementById("CharacterSheet").action = "/EditCharacter"

	document.getElementById("CharacterSheet").innerHTML += '<input type="hidden" id="charID" name="charID" value="' + Character._id + '"/>';

}

function submitCharacter(){
	var radioElements = document.getElementsByName("CharSelect");
    for(var i=0; i < radioElements.length; i++)
    {
        if(radioElements[i].checked) 
        {
			sessionStorage.setItem('DnDToolCharacter', JSON.stringify(CharacterArray[i]));
			break;
        }
    }
}


function pageLoad(){
	CharacterArray = <%- Characters %>;
	PlayerName = <%- iPlayerName %>;
	if(CharacterArray.length > 0){
		var tempCharacterList = '<form action="/DnDTool" method="POST" onsubmit="submitCharacter()"><ul>';
		tempCharacterList += '<li><input type="radio" name="CharSelect" value="' + 0 + '" checked>' + CharacterArray[0].CharacterName + "</li>";
		for(var i = 1; i < CharacterArray.length; i++){
			tempCharacterList += "<li>" + '<input type="radio" name="CharSelect" value="' + i + '">' + CharacterArray[i].CharacterName + "</li>";
		}
		tempCharacterList += '</ul><button type="submit">Load</button><button id="ModCharButton" type="button" onclick="ModCharacter()">Edit</button></form><br>';
		document.getElementById('CharacterList').innerHTML = tempCharacterList;
	}	

	username = sessionStorage.username;
	document.getElementById('Welcome').innerHTML = "Welcome " + PlayerName;
	document.getElementById('SumbitUsername').value = username;
	document.getElementById('SumbitUsername').value = username;
	callSetProficencyOptions();
}


function characterCleanup(){
	if(document.getElementById('CharacterName').value == ""){ document.getElementById('CharacterName').value = "Unnamed"}
	if(document.getElementById('Level').value == ""){ document.getElementById('Level').value = "1"}
	if(document.getElementById('BaseAC').value == ""){ document.getElementById('CharacterName').value = "10"}
	if(document.getElementById('HPMax').value == ""){ document.getElementById('HPMax').value = "1"}
	if(document.getElementById('CharSTR').value == ""){ document.getElementById('CharSTR').value = "10"}
	if(document.getElementById('CharDEX').value == ""){ document.getElementById('CharDEX').value = "10"}
	if(document.getElementById('CharCON').value == ""){ document.getElementById('CharCON').value = "10"}
	if(document.getElementById('CharINT').value == ""){ document.getElementById('CharINT').value = "10"}
	if(document.getElementById('CharWIS').value == ""){ document.getElementById('CharWIS').value = "10"}
	if(document.getElementById('CharCHA').value == ""){ document.getElementById('CharCHA').value = "10"}

	document.getElementById("STRProf").value = document.getElementById("STRProfCheck").checked;
	document.getElementById("DEXProf").value = document.getElementById("DEXProfCheck").checked;
	document.getElementById("CONProf").value = document.getElementById("CONProfCheck").checked;
	document.getElementById("INTProf").value = document.getElementById("INTProfCheck").checked;
	document.getElementById("WISProf").value = document.getElementById("WISProfCheck").checked;
	document.getElementById("CHAProf").value = document.getElementById("CHAProfCheck").checked;
	
	
	document.getElementById("ProfBonus").value = Math.ceil(1+(Number(document.getElementById("Level").value) / 4));
	document.getElementById("iPlayerName").value = PlayerName;

	document.getElementById("CustomSkill1Prof").value = document.getElementById("CustomSkill1ProfCheck").checked;
	document.getElementById("CustomSkill2Prof").value = document.getElementById("CustomSkill2ProfCheck").checked;
	document.getElementById("CustomSkill3Prof").value = document.getElementById("CustomSkill3ProfCheck").checked;

}


</script>
</head>

<body bgcolor="#BEC6DD" onload="pageLoad()">
<div id="MainScreen" style="position:absolute; top:0px; left:0px;">
	<p id="Welcome"></p>

	<hr>
		
	<div id="CharacterList">
			
	</div>
	<hr>


	<br>
	<button onclick='document.getElementById("NewCharacterSheet").style.visibility = "visible"; document.getElementById("CharacterSheet").action = "/SaveCharacter";'>Create New Character</button>
	
	<div id="NewCharacterSheet" style="visibility:hidden;">
		New Character:<br>
		<form id="CharacterSheet" action="/SaveCharacter" method="POST" onsubmit="characterCleanup()">
			<input type="hidden" id="SumbitUsername" name="username" />
			Please Input your character's stats.<br>
			If you are proficient in a skill or saving throw, select the checkbox next to it.<hr>
			
			Character Name: <textarea type="text" id="CharacterName" name="CharacterName" rows="1" cols="20">Name</textarea><br>
			Level:<textarea id="Level" name="Level" rows="1" cols="10">1</textarea><br>

			Race:<select id="Race" name="Race">
				<option value ="Aarakocra" selected>Aarakocra</option>
				<option value="Deep Gnome">Deep Gnome</option>
				<option value="Dwarf">Dwarf</option>
				<option value="Elf">Elf</option>
				<option value="Air Genasi">Genasi(Air)</option>
				<option value="Earth Genasi">Genasi(Earth)</option>
				<option value="Fire Genasi">Genasi(Fire)</option>
				<option value="Water Genasi">Genasi(Water)</option>
				<option value="Goliath">Goliath</option>
				<option value="halfling">Halfling</option>
				<option value="Human">Human</option>
				<option value="Dragonborn">Dragonborn</option>
				<option value="Gnome">Gnome</option>
				<option value="Half-Elf">Half-Elf</option>
				<option value="Half-Orf">Half-Orc</option>
				<option value="Tiefling">Tiefling</option>
			</select>	
			
			
			
			Class:<select id="Class" name="Class" onchange="ShowClassSpecific()">
				<option value="Barbarian" selected>Barbarian</option>
				<option value="Bard">Bard</option>
				<option value="Cleric">Cleric</option>
				<option value="Druid">Druid</option>
				<option value="Fighter">Fighter</option>
				<option value="Monk">Monk</option>
				<option value="Paladin">Paladin</option>
				<option value="Ranger">Ranger</option>
				<option value="Rogue">Rogue</option>
				<option value="Sorcerer">Sorcerer</option>
				<option value="Warlock">Warlock</option>
				<option value="Wizard">Wizard</option>
			</select><br>

			Armor Class: <input type="text" id="BaseAC" name="AC" style="width:30px" value="10"><br>
			Hit Point Max<input type="text" id="HPMax" name="MaxHP" style="width:30px" value="10">
			<hr>
			
			Saving Throws<br>
			Input your character's core stats (not the +bonus)<br>
			<input type="text" id="CharSTR" name="STR" style="width: 30px"  value="10"><input type="checkbox" id="STRProfCheck">STR<br>
			<input type="text" id="CharDEX" name="DEX" style="width: 30px" value="10"><input type="checkbox" id="DEXProfCheck">DEX<br>
			<input type="text" id="CharCON" name="CON" style="width: 30px" value="10"><input type="checkbox" id="CONProfCheck">CON<br>
			<input type="text" id="CharINT" name="INT" style="width: 30px" value="10"><input type="checkbox" id="INTProfCheck">INT<br>
			<input type="text" id="CharWIS" name="WIS" style="width: 30px" value="10"><input type="checkbox" id="WISProfCheck">WIS<br>
			<input type="text" id="CharCHA" name="CHA" style="width: 30px" value="10"><input type="checkbox" id="CHAProfCheck">CHA
			<hr>
			
			Skills: - is Normal, + is Proficient, ++ is Expertise<br>
			For the custom skills leave blank if no custom skill.<br>
			<table>
				<tr>
					<td><select id="AcrobaticsProf" name="AcrobaticsProf"></select>Acrobatics</td>
					<td><select id="InsightProf" name="InsightProf"></select>Insight
					<td><select id="PerformanceProf" name="PerformanceProf"></select>Performance
				</tr>
				<tr>
					<td><select id="AnimalHandlingProf" name="AnimalHandlingProf"></select>Animal Handling</td>
					<td><select id="IntimidationProf" name="IntimidationProf"></select>Intimidation</td>
					<td><select id="PersuasionProf" name="PersuasionProf"></select>Persuasion</td>
				</tr>
				<tr>
					<td><select id="ArcanaProf" name="ArcanaProf"></select>Arcana</td>
					<td><select id="InvestigationProf" name="InvestigationProf"></select>Investigation</td>
					<td><select id="ReligionProf" name="ReligionProf"></select>Religion</td>
				</tr>
				<tr>
					<td><select id="AthleticsProf" name="AthleticsProf"></select>Athletics</td>
					<td><select id="MedicineProf" name="MedicineProf"></select>Medicine</td>
					<td><select id="SleightOfHandProf" name="SleightOfHandProf"></select>Sleight Of Hand</td>
				</tr>
				<tr>
					<td><select id="DeceptionProf" name="DeceptionProf"></select>Deception</td>
					<td><select id="NatureProf" name="NatureProf"></select>Nature</td>
					<td><select id="StealthProf" name="StealthProf"></select>Stealth</td>
				</tr>
				<tr>
					<td><select id="HistoryProf" name="HistoryProf"></select>History</td>
					<td><select id="PerceptionProf" name="PerceptionProf"></select>Perception</td>
					<td><select id="SurvivalProf" name="SurvivalProf"></select>Survival</td>
				</tr>
				<tr>
					<td>
						<select id="CustomSkill1Prof" name="CustomSkill1Prof"></select>
						<input type="text" id="CustomSkill1Name" name="CustomSkill1Name" style="width:40px">
						<select id="CustomSkill1Stat" name="CustomSkill1Stat">
							<option value ="STR">STR</option>
							<option value="DEX">DEX</option>
							<option value="CON">CON</option>
							<option value="INT">INT</option>
							<option value="WIS">WIS</option>
							<option value="CHA">CHA</option>
						</select>	
					</td>
					
					<td>
						<select id="CustomSkill2Prof" name="CustomSkill2Prof"></select>
						<input type="text" id="CustomSkill2Name" name="CustomSkill2Name" style="width:40px">
						<select id="CustomSkill2Stat" name="CustomSkill2Stat">
							<option value ="STR">STR</option>
							<option value="DEX">DEX</option>
							<option value="CON">CON</option>
							<option value="INT">INT</option>
							<option value="WIS">WIS</option>
							<option value="CHA">CHA</option>
						</select>	
					</td>
					<td>
						<select id="CustomSkill3Prof" name="CustomSkill3Prof"></select>
						<input type="text" id="CustomSkill3Name" name="CustomSkill3Name" style="width:40px">
						<select id="CustomSkill3Stat" name="CustomSkill3Stat">
							<option value ="STR">STR</option>
							<option value="DEX">DEX</option>
							<option value="CON">CON</option>
							<option value="INT">INT</option>
							<option value="WIS">WIS</option>
							<option value="CHA">CHA</option>
						</select>	
					</td>
				</tr>
			</table>
			
			<hr>			
			<input type="hidden" id="STRProf" name="STRProf" value="false"/>
			<input type="hidden" id="DEXProf" name="DEXProf" value="false"/>
			<input type="hidden" id="CONProf" name="CONProf" value="false"/>
			<input type="hidden" id="INTProf" name="INTProf" value="false"/>
			<input type="hidden" id="WISProf" name="WISProf" value="false"/>
			<input type="hidden" id="CHAProf" name="CHAProf" value="false"/>

			<input type="hidden" id="ProfBonus" name="ProfBonus" value="0"/>
			<input type="hidden" id="iPlayerName" name="PlayerName" value=""/>
			
			<button type="submit">Submit</button>
			<button type="submit" onclick="return registerCharacter()">Create</button>
		</form>
	</div>

	
</div>
<div id="ModCharacterScreen" style="position:absolute; top:0px; left:0px; visibility:hidden;">

</div>
</body></html>
