<html>
  <head>
<title>DM Screen</title>
<script src="/socket.io/socket.io.js"></script>
<script>var socket = io('/Tool');</script>
<script src="/Functions/dicerolls.js"></script>
<script src="/Functions/ToolSharedFunctions.js"></script>
<script src="/Functions/DMOnlyFunctions.js"></script>
<script>
var InitList = [];
var ChatMessages = [];
var mySocketId;

function pageLoad(){
	DMName = <%- DMName %>;
	//DMStatus = DM;
	//socket.emit('StartData');
	socket.emit('DMJoined', DMName);
}



</script>
</head>

<body bgcolor="#BEC6DD" onload="pageLoad()">

<nav id="nav" style="background-color:#00004d; position:absolute; left:0px; top:0px; height:100%; width:75px; float:left; border-right-style:solid; border-right-width:5px;">
	<button onclick="showMainScreen()">Main</button><br><br>
	<button onclick="showSpellsScreen()">Spells</button>
</nav>

<iframe src="/Spellbook" id="SpellbookFrame" style="height:100%; width:1200px;  position:absolute; top:0px; left:80px; border:0px; visibility:hidden;">
</iframe>

<div id="MainScreen" style="height:100%; width:550px; position:absolute; top:0px; left:80px; border-right-style:solid; border-right-width:6px;">

	<div id="PlayerStats" style="height:100%; width:195px; position:absolute; top:0px; left:0px; border-right-style:solid; border-right-width:5px;">
		Player Stats Go Here
	</div>


	<div id="DMDice" style="height:100%; width:300px; position:absolute; top:0px; left:200px;">
		Roller's Name: <input type="text" id="DMRollName" size="10" value="Dungeon Master">
		<hr>
		<input type="radio" name="adv" id="RadioAdv" value="Adv"> Advantage
		<input type="radio" name="adv" id="RadioDis" value="Dis"> Disadvantage
		<button id="ClearAdvDis" onclick="ClearAdvDis()">Clear</button>
		<br>
		
		1d20 + <input type="text" id="DMd20P" size="1"> Skill Name<input type="text" id="DMd20SkillName" size="3" value="d20">

		<button id="rolld20DM" onclick="rolld20(Number(document.getElementById('DMd20P').value), document.getElementById('DMd20SkillName').value, document.getElementById('DMRollName').value)">Roll</button><br>
		
		<input type="text" id="d12" size="1">d12 + <input type="text" id="d12P" size="1">
		<button id="rolld12" onclick="rollSidedDice(Number(document.getElementById('d12').value),12,Number(document.getElementById('d12P').value), document.getElementById('DMRollName').value)">Roll</button><br>
		
		<input type="text" id="d10" size="1">d10 + <input type="text" id="d10P" size="1">
		<button id="rolld10" onclick="rollSidedDice(Number(document.getElementById('d10').value),10,Number(document.getElementById('d10P').value), document.getElementById('DMRollName').value)">Roll</button><br>
		
		<input type="text" id="d8" size="1">d8 + <input type="text" id="d8P" size="1">
		<button id="rolld8" onclick="rollSidedDice(Number(document.getElementById('d8').value),8,Number(document.getElementById('d8P').value), document.getElementById('DMRollName').value)">Roll</button><br>
		<input type="text" id="d6" size="1">d6 + <input type="text" id="d6P" size="1">
		<button id="rolld6" onclick="rollSidedDice(Number(document.getElementById('d6').value),6,Number(document.getElementById('d6P').value), document.getElementById('DMRollName').value)">Roll</button><br>
		<input type="text" id="d4" size="1">d4 + <input type="text" id="d4P" size="1">
		<button id="rolld4" onclick="rollSidedDice(Number(document.getElementById('d4').value),4,Number(document.getElementById('d4P').value), document.getElementById('DMRollName').value)">Roll</button><br>
		
		<input type="text" id="d100" size="1">d100 + <input type="text" id="d100P" size="1">
		<button id="rolld100" onclick="rollSidedDice(Number(document.getElementById('d100').value),100,Number(document.getElementById('d100P').value), document.getElementById('DMRollName').value)">Roll</button><br>

	</div>
	
	<div id="DMMacros" style="height:200px; width:300px; position:absolute; top:240; left:200px; border-top-style:solid">

		<input type="checkbox" id="DMMacroSuppressDice">Check this to hide macro dice
		<hr>
		Macro1:<br>
		Character Name: <input type="text" id="M1Name" style="width:100px;">
		<input type="text" id="M1" style="width:250px;" value="[3d12+8]"><button id="M1B" onclick="macro('M1', document.getElementById('M1Name').value, document.getElementById('DMMacroSuppressDice').checked)">Send</button><hr>

		Macro2:<br>
		Character Name: <input type="text" id="M2Name" style="width:100px;">
		<input type="text" id="M2" style="width:250px;" value="[1d33-2]"><button id="M2B" onclick="macro('M2', document.getElementById('M2Name').value, document.getElementById('DMMacroSuppressDice').checked)">Send</button><hr>

		Macro3:<br>
		Character Name: <input type="text" id="M3Name" style="width:100px;">
		<input type="text" id="M3" style="width:250px;" value="[1d6-12]"><button id="M3B" onclick="macro('M3', document.getElementById('M3Name').value, document.getElementById('DMMacroSuppressDice').checked)">Send</button><hr>

		Macro4:<br>
		Character Name: <input type="text" id="M4Name" style="width:100px;">
		<input type="text" id="M4" style="width:250px;" value="[33d2+8]"><button id="M4B" onclick="macro('M4', document.getElementById('M4Name').value, document.getElementById('DMMacroSuppressDice').checked)">Send</button><hr>

		Macro5:<br>
		Character Name: <input type="text" id="M5Name" style="width:100px;">
		<input type="text" id="M5" style="width:250px;" value="[1d1+0]"><button id="M5B" onclick="macro('M5', document.getElementById('M5Name').value, document.getElementById('DMMacroSuppressDice').checked)">Send</button><hr>		
	</div>
</div>


<div id="ChatListButtons" style="height:30px; width:375px; position:absolute; top:0px; left:640px; border-bottom-style:solid; border-bottom-width:6px;">
	<input type="checkbox" id="PrivateRoll">Private to:<select id="PrivateMessageAddress"></select>
	<button id="ClearChat" onclick="clearChat()">Clear Chat</button>
</div>

<div id="ChatList" style="height:100%; width:375px; position:absolute; top:40px; left:640px;">

</div>

	
<div id="PlayerLists" style="height:100%; width:220px; padding:5px; position:absolute; top:0px; left:1025px; border-left-style:solid; 	border-left-width:6px;border-right-style:solid; border-right-width:6px;">
	

	
	<div id="InitListMenu" style="height:100%; width:220px; padding:5px; position:absolute; top:0px; left:0px; overflow: auto;">
		Init List <button id="DMResetInit" onclick="DMResetInit()">Reset</button><hr>
		<input type="radio" name="Privacy" id="PublicRadio" checked> Public 
		<input type="radio" name="Privacy" id="PrivateRadio"> Private<br>
		<input type="radio" name="initAdv" id="InitAdvantageRadio" value="Adv"> Adv 
		<input type="radio" name="initAdv" id="InitDisadvantageRadio" value="Dis"> Dis
		<button id="ClearAdvDis" onclick="resetDMInitAdv()">Clear</button><br>
		
		<input type="radio" name="RollType" id="DMDiceInit" checked>1d20 + 
		<input type="text" id="InitRollPlus" size="1">
		<input type="radio" name="RollType" id="DMDSetInit">
		<input type="text" id="InitSetValue" size="1"><br>
		Name: <input type="text" id="InitRollName" size="3">
		<button id="DMInitButton" onclick="DMRollInit()">Roll</button><hr>
		<p id="initList"></p>
	</div>

	<div id="EditInitListMenu" style="height:100%; width:220px; padding:5px; position:absolute; top:0px; left:0px; overflow: auto; visibility:hidden;">

	</div>
</div>



	
	
</body></html>
