<html><head>
<title>DndTool</title>
<script>

function flashRed(name){
	if(document.getElementById(name).value == ""){
		document.getElementById(name).style.backgroundColor = "red";
		setTimeout(function(){ document.getElementById(name).style.backgroundColor = "white";}, 1000)
	}
}
function Login(){
	if(document.getElementById('loginUsername').value == "" || document.getElementById('loginPassword').value == ""){
		flashRed('loginUsername');
		flashRed('loginPassword');
		return false;
	}else{
		sessionStorage.username = document.getElementById('loginUsername').value;
	}
}

function RegisterPlayer(){
	if(document.getElementById('RegisterPlayerName').value == "" || document.getElementById('RegisterUsername').value == "" || document.getElementById('RegisterUserPassword').value == ""){
		flashRed('RegisterPlayerName');
		flashRed('RegisterUsername');
		flashRed('RegisterUserPassword');
		return false;
	}else{
		sessionStorage.username = document.getElementById('RegisterUsername').value;
	}
}

function RegisterDM(){
	if(document.getElementById('RegisterDMName').value == "" || document.getElementById('RegisterDMUsername').value == "" || document.getElementById('RegisterDMPassword').value == "" || document.getElementById('DMPasscode').value == ""){
		flashRed('RegisterDMName');
		flashRed('RegisterDMUsername');
		flashRed('RegisterDMPassword');
		flashRed('DMPasscode');
		return false;
	}else{
		sessionStorage.username = document.getElementById('RegisterDMUsername').value;
	}
}

function pageLoad(){
	var ErrorMsg = <%- ErrorMsg %>;
	if(ErrorMsg != ""){
		document.getElementById("ErrorMessage").innerHTML = ErrorMsg;
	}
}

</script>
</head>

<body bgcolor="#BEC6DD" onLoad="pageLoad()">
<p id="ErrorMessage"></p>
Welcome to the new and improved DnD Tool!<br>
Please begin by creating an account or by logging in.<br>
NOTES:<br>
Please don't use the back button of your browser.  It may do weird things.<br><br>
<hr>

<form action="/LoginAttempt" method="POST">
	Login:<br>
	Username: <input type="text" id="loginUsername" name="username"></input><br>
	Password: <input type="text" id="loginPassword" name="password"></input><br>
	<button type="submit" onclick="return Login()">Login</button>
</form>
<hr>
<form action="/RegisterAccount" method="POST">
	Register as Player:<br>
	<input type="hidden" name="AccountType" value="Player"/>
	Player Name:<input type="text" id="RegisterPlayerName" name="PlayerName"><br>
	Username: <input type="text" id="RegisterUsername" name="username"><br>
	Password: <input type="text" id="RegisterUserPassword" name="password"><br>
	<button type="submit" onclick="return RegisterPlayer()">Register Player</button>
</form>
<hr>
<form action="/RegisterDM" method="POST" onsubmit="RegisterDM()">
	Register as Dungeon Master:<br>
	<input type="hidden" name="AccountType" value="Dungeon Master"/>
	Player Name:<input type="text" id="RegisterDMName" name="PlayerName"><br>
	Username: <input type="text" id="RegisterDMUsername" name="username"><br>
	Password: <input type="text" id="RegisterDMPassword" name="password"><br>
	Code: <input type="text" id="DMPasscode" name="Passcode" value="samplecode"><br>
	<button type="submit" onclick="return RegisterDM()">Register DM</button>
</form>

</body></html>
