<html><head>
<title>Dnd Tool</title>
<script src="/Functions/chatcommands.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
	var socket = io('/Main');
</script>

<script src="/Functions/Moved.js"></script>


<script>

var InitList = [];
var DMStatus;
var DMPrivateInit = [];
var DMID;
var CharacterStats;

function UpdatePlayerList(){

}

socket.on('DMDataRecieved', function(iDMID){
	DMID = iDMID;
});


//function loadCharacter(character){
//	
//}




function showSpell(){
	document.getElementById().style.visibility = "hidden";
}



function clearChat(){
	ChatMessages = [];
	document.getElementById('ChatList').innerHTML = "";
}


</script>
</head>

<body bgcolor="#BEC6DD" onload="pageLoad()">

<iframe src="/Login" id="game"  style="height:100%; width:1300px;  position:absolute; top:0px; left:0px; border:0px">
</iframe>

<div id="ChatButtons" style="height:30px; width:375px; position:absolute; top:0px; left:635px; visibility:hidden; border-bottom-style:solid; border-bottom-width:6px;">
	    <div style="height:30px; width:375px; position:absolute; top:0px; left:10px;">
			<button id="ClearChat" onclick="clearChat()">Clear Chat</button>
		</div>
</div>

<div id="ChatList" style="height:100%; width:375px; position:absolute; top:50px; left:640px;">
	
</div>

<div id="PlayerLists" style="height:100%; width:220px; padding:5px; position:absolute; top:0px; left:1025px; border-left-style:solid; border-left-width:6px;border-right-style:solid; border-right-width:6px; visibility:hidden;">
	<div id="InitListMenu" style="height:100%; width:220px; padding:5px; position:absolute; top:0px; left:0px; overflow: auto;">

	</div>
	<div id="EditInitListMenu" style="height:100%; width:220px; padding:5px; position:absolute; top:0px; left:0px; overflow: auto; visibility:hidden;">

	</div>
</div>






</body></html>